body{
    color:#e451a7cf;
    background-color: antiquewhite;
    background-image: url(https://media.istockphoto.com/id/184601291/photo/xxxl-dark-concrete.webp?b=1&s=170667a&w=0&k=20&c=KRRXq0P41imqerPjYF4EgX7QOdbybyprM8ofKYoIzT4=);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: repeat;
    background-attachment: fixed;
    background-attachment: scroll;
    background-attachment: local;
    background-size: contain;
    background-size: cover;
}
