body{
    color:#e451a7cf;
    background-color: antiquewhite;
    background-image: url(https://media.istockphoto.com/id/1281041623/vector/studio-room-background.jpg?s=612x612&w=0&k=20&c=sa4Cmfav9HqximETEl9AuMy5BkMNgwu9c-b4apMm4rA=);
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-repeat: repeat;
    background-attachment: fixed;
    background-attachment: scroll;
    background-attachment: local;
    background-size: contain;
    background-size: cover;
}
