.box{
    height: 100px;
    width: 100px;
}
.cont{
    display: grid;
    height: 575px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    overflow: hidden;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
}
.box3{
    background-color: yellow;
}

.box4{
    background-color: orange;
}

.box5{
    background-color: blue;
}

.box6{
    background-color: pink;
}

.box7{
    background-color: violet;
}

.box8{
    background-color: aqua;
}

.box9{
    background-color: black;
}

